
.main-background{
    background-color:beige;
    height: 100%;
}
.main-container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-card{
    width: 300px
}

.button{
    width:300px
}
.card-header{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.register{
    text-align: center;
    margin-top: 20px;
    
}

.form-field{
    display: inline;


}